@charset "utf-8";

h1[title]{
  background-color: yellow;
}
p {
  color: green ;
}
.box{
  color : red;
}
#note{
  color : blue !important;
}

ul > li{
  border :1px yellow;
}
ul > li::first-letter{
  font-size : 24px;
}

a:link{
  color:green;

}
a:visited{
  color: gray;
}
a:hover, a:focus{
  color : red;
}

p::selection{
  background-color: teal;
  color : white;
}