@charset "utf-8";

.heading{
  background-color: yellow;
  width : 500px;
  height : 200px;
  margin-bottom: 30px;
}
.subject {
  background-color: skyblue;
  width: 200px;
  border: 10px solid black;
  padding :20px 50px 100px 150px;
  margin: 50px auto 50px 50px;
}
.note {
  background-color: pink;
  width: 300px;
  height: 150px;
  overflow: auto;
}
.note em{
  display : block;
  background-color: lime;
  width: 100px;
  height: 50px;
  vertical-align: bottom;
}