<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>하이퍼링크</title>
</head>
<body>  
  <h1>하이퍼 링크</h1>
  <h2>웹 사이트로 링크</h2>
  <ul>
    <li><a href="https://www.multicampus.com/main" target ="_blank" title = "IT 교육기관(새창)">멀티캠퍼스</a></li>
    <li><a href="https://www.google.com">구글</a></li>
    <li><a href="https://www.naver.com">네이버</a></li>
  </ul>
<h2>페이지 내에서 링크</h2>
<p><a href="#html">html에 대해</a></p>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<p id="html">HTML이란 Hyper Text Markup Language의 약자로 문서의 구조를 설계할 때 사용 하는 언어 입니다.</p>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>
</html>