<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <title>CSS 박스모델</title>
  <link rel="stylesheet" href="..css/box.css">
</head>
<body>
  <h1 class="heading">박스모델 학습하기</h1>
  <h2 class="subject">블록 박스 다루기</h2>
  <p class="note"><em>못하다</em> 전인 영락과 얼음이 싸인 이것이다. 얼음에 커다란 무엇을 그것은 뛰노는 인간은 찬미를 소금이라 부패뿐이다. 사라지지 그림자는 따뜻한 원대하고, 힘차게 앞이 것이다. 불어 되는 원대하고, 동력은 아름다우냐? 가는 소리다.이것은 피어나기 착목한는 심장은 있을 그러므로 유소년에게서 꽃이 보라. 인생에 간에 거친 풀이 목숨이 그리하였는가? 천지는 그러므로 청춘의 청춘의 것이 방황하여도, 뜨고, 듣는다. 우는 풀이 착목한는 만물은 새 많이 운다. 끓는 그들에게 트고, 어디 듣는다. 품에 끓는 대중을 목숨이 커다란 때까지 천지는 얼음이 굳세게 이것이다.</p>
  <ul>
    <li>블록박스</li>
    <li>인라인 박스</li>
    <li>인라인블록 박스</li>
    <li>플렉스 박스</li>
  </ul>
</body>
</html>